<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Inicio</title>
</head>
<body>
    <video src="../img/gaseosaslacigarra.mp4" autoplay loop muted>
                    
    </video>
    <main class="contenedor">
        <div class="cabecera">
            <div class="logo">
                <img src="../img/lacigarranavidad.png" alt="">
            </div>
            <nav class="navegacion">
                <ul>
                    <li class="activo"><a href="../index.html">Inicio</a></li>
                    <!-- <li><a href="#">Reseña</a></li>-->
                    <li><a href="../templates/contactos.html">Contacto</a></li> 
                    <li><a href="../templates/login.html"><i class="far fa-user"></i>&nbsp; Login</a></li>
                </ul>
            </nav>
        </div>
        <div class="contenido">
            <div class="titulo">
                <h2>Línea de Productos</h2>
            </div>
            <div class="filauno">
                <a href="../templates/agua.html"><img class="imagenobj" src="../img/agua.png" alt=""></a>
                <a href="../templates/cafe.html"><img class="imagenobj" src="../img/cafe.png" alt=""></a>
                <a href="../templates/frituras.html"><img class="imagenobj" src="../img/fritura.png" alt=""></a>
                
            </div>
            <div class="filados">
                <a href="../templates/jugos.html"> <img class="imagenobj" src="../img/jugos.png" alt=""></a>
                <a href="../templates/panaderia.html"><img class="imagenobj" src="../img/panaderia.png" alt=""></a>
                <a href="../templates/gaseosas.html"><img class="imagenobj" src="../img/gaseosa.png" alt=""></a>
               
                
            </div>
        </div>
        <div class="piedepagina">
            <p>Copyright © 2021 Gaseosas la Cigarra</p>
            <div class="redessociales">
                    <ul>
                        <li><a href="https://es-la.facebook.com/gaseosaslacigarra/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/gaseosascigarra" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/gaseosaslacigarra/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                
            </div>
        </div>
    </main>
</body>
</html>