<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Inicio</title>
</head>
<body>
    <video src="../img/gaseosas5.mp4" autoplay loop muted>
                    
    </video>
    <main class="contenedor">
        <div class="cabecera">
            <div class="logo">
                <img src="../img/lacigarranavidad.png" alt="">
            </div>
            <nav class="navegacion">
                <ul>
                    <li class="activo"><a href="../index.html">Inicio</a></li>
                    <!-- <li><a href="#">Reseña</a></li>-->
                </ul>
            </nav>
        </div>
        <div class="contenido">
            <div class="titulo">
                <h2>Información de Contacto</h2>

            </div>
            <div class="filauno">
                <div class="contacto">
                    <div>
                        <img src="../img/lacigarralocal.jpg" alt="">
                    </div>
                    <ul>
                        <li>Teléfono Local: 721 5384</li>
                        <li>Teléfono Móvil: 313 828 4715 / 316 546 2714</li>
                        <li>Correo: lacigarra84@hotmail.com</li>
                        <li>Dirección: Calle 12 No. 4-84 Barrio Chapal Pasto-Nariño</li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="piedepagina">
            <p>Copyright © 2021 Gaseosas la Cigarra</p>
            <div class="redessociales">
                    <ul>
                        <li><a href="https://es-la.facebook.com/gaseosaslacigarra/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/gaseosascigarra" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/gaseosaslacigarra/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                
            </div>
            <p>Elaborado por Departamento de Sistemas SYSCO S.A.S</p>
        </div>
    </main>
</body>
</html>