<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estiloslineaproductos.css">
    <title>Línea de Panadería</title>
</head>
<body>
    <video src="../img/panaderia.mp4" autoplay loop muted>
                    
    </video>
    <main class="contenedor">
        <div class="cabecera">
            <div class="logo">
                <img src="../img/lacigarranavidad.png" alt="">
            </div>
            <nav class="navegacion">
                <ul>
                    <li class="activo"><a href="../index.html">Inicio</a></li>
                    <li><a href="../templates/categorias.html">Productos</a></li>
                    <li><a href="../templates/contactos.html">Contactos</a></li>
                    <!-- <li><a href="../templates/login.html"><i class="far fa-user"></i>&nbsp; Login</a></li> -->
                </ul>
            </nav>
        </div>
        <div class="contenido">
            <div class="title">
                <h2>Línea de Panadería</h2>
            </div>
            <div class="filauno">
                <div>
                    <img class="imgpanaderia" src="../img/panaderia1.png" alt="">
                    
                </div>
                
                <div>
                    <img class="imgpanaderia" src="../img/panaderia2.png" alt="">
                   
                </div>

                <!-- <div>
                    <img class="imgpanaderia" src="../img/panaderia.png" alt="">
                   
                </div>
                <div>
                    <img class="imgpanaderia" src="../img/panaderia.png" alt="">
                    
                </div> -->
            </div>
            <div class="btnpedido">
                <a class="btn" href="https://wa.link/0abz8q"  target="_blank">Ordenar</a>
            </div>
            <div class="description">
                <!-- <h2>Descripción</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea debitis corrupti perspiciatis doloribus nemo. Iusto magnam officiis, aliquid modi ratione, asperiores enim autem repudiandae sit, id maxime quo atque! Dolores.</p> -->
                
            </div>
        </div>
        <div class="piedepagina">
            <p>Copyright © 2021 Gaseosas la Cigarra</p>
            <div class="redessociales">
                    <ul>
                        <li><a href="https://es-la.facebook.com/gaseosaslacigarra/" target="_blank"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/gaseosascigarra" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/gaseosaslacigarra/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                
            </div>
            <p>Elaborado por Departamento de Sistemas SYSCO S.A.S</p>
        </div>
    </main>
    <script src="../js/javascript.js"></script>
</body>
</html>