<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilosinicio.css">
    <title>Inicio</title>
</head>
<body>
    <main class="contenedor">
        <div class="cabecera">
            <div class="logo">
                <img src="../img/lacigarranavidad.png" alt="">
            </div>
            <nav class="navegacion">
                <ul>
                    <!-- <li><a href="#">Inicio</a></li> -->
                    <li><a href="../templates/categorias.html">Categorias</a></li>
                    <li><a href="../templates/login.html"><i class="far fa-user"></i>&nbsp; Login</a></li>
                </ul>
            </nav>
        </div>
        <div class="contenido">
            <div class="titulo">
                <h2>Línea de Productos</h2>
            </div>
            <div class="filauno">
                <a href="../templates/agua.html"><img src="../img/agua.png" alt=""></a>
                <a href="../templates/cafe.html"><img src="../img/cafe.png" alt=""></a>
                <a href="../templates/frituras.html"><img src="../img/fritura.png" alt=""></a>
                <a href="../templates/gaseosas.html"><img src="../img/gaseosa.png" alt=""></a>
                <a href="../templates/jugos.html"> <img src="../img/jugos.png" alt=""></a>
                <a href="../templates/panaderia.html"><img src="../img/panaderia.png" alt=""></a>
            </div>
            <div class="filados">

                <div class="subtitulo">
                    <h2>Nosotros</h2>
                </div>
                <div class="parrafo">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque voluptas voluptates beatae alias! Voluptate dolorum quidem, cumque suscipit facere corporis ex alias similique, molestiae optio aliquam esse, accusamus officia? Consequatur!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque voluptas voluptates beatae alias! Voluptate dolorum quidem, cumque suscipit facere corporis ex alias similique, molestiae optio aliquam esse, accusamus officia? Consequatur!</p>
                </div>
                <div class="imagen">
                    <img src="../img/lacigarralocal.jpg" alt="">
                </div>    
               
                
            </div>
        </div>
        <div class="piedepagina">
            <p>Copyright © 2021 Gaseosas la Cigarra</p>
        </div>
    </main>
</body>
</html>