<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Inicio</title>
</head>
<body>
    <main class="contenedor">
        <div class="cabecera">
            <div class="logo">
                <img src="../img/lacigarra.png" alt="">
            </div>
            <nav class="navegacion">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Reseña</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#"><i class="far fa-user"></i>&nbsp; Login</a></li>
                </ul>
            </nav>
        </div>
        <div class="contenido">
            <div class="titulo">
                <h2>Línea de Productos</h2>
            </div>
            <div class="filauno">
                <img src="../img/agua.png" alt="">
                <img src="../img/cafe.png" alt="">
                <img src="../img/fritura.png" alt="">
                <img src="../img/gaseosa.png" alt="">
            </div>
            <div class="filados">
               
                <img src="../img/jugos.png" alt="">
                <img src="../img/panaderia.png" alt="">
            </div>
        </div>
        <div class="piedepagina">
            <p>Derechos resevados wwww.gaseosaslacigarra.co</p>
        </div>
    </main>
</body>
</html>