*{
    margin: 0;
    padding: 0;
}

body{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../img/fondocigarra.jpg');
    
    background-size: 100% 100%;
    background-attachment: fixed;
    
    
}

.contenedor{
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "header header header"
                        "contenido contenido contenido"
                        "footer footer footer";
    grid-gap: 20px;
    margin: 20px auto;
}

.contenedor .cabecera{
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: auto;
    
   
}

.cabecera .logo{
    width: 20%;
    margin: 10px auto;
    
    
}

.cabecera .logo img{
    width: 100%;
    text-align: center;
}

.cabecera .navegacion{
    background-color: #e3deeb75;
    width: 78%;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    

}

.navegacion ul{
    width: 100%;
    display: flex;
    height: auto;
   
}

.navegacion ul li{
    display: inline-block;
    list-style-type: none;
}

.navegacion ul li:last-child{
    margin-left: auto;
}

.navegacion ul .item{
    display: none;
}


.navegacion ul li a{
    padding: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.4em;
    text-shadow: 1px 1px 1px #3d1868;
    
}

.navegacion ul li a:hover{
    color: #753ebe6e;
}

.contenedor .contenido{
    grid-area: contenido;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: "titulo titulo titulo" 
                        "imagen imagen imagen"
                         "seccion seccion seccion";
    grid-gap: 10px;
    border-radius: 10px;
    
}


.contenedor .contenido .titulo{
    grid-area: titulo;
    text-align: center;
    
}

.contenido .titulo h2{
    color: #fff;
    font-size: 3.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 1px 1px #3d1868;
}

.contenedor .contenido .filauno{
        grid-area: imagen;
        width: 50%;
        
        display: flex;
        margin: auto;
}

.filauno a{
    width:17%;
    height: auto;
    display: block;
    
    margin: 8px;
}



.filauno a img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px #3d1868;
    
}

.contenedor .contenido .filados{
    grid-area: seccion;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #e3deeb75;
    width: 75%;
    margin: auto;
    padding: 50px;
    border-radius: 10px;
    
    
}

.filados .subtitulo{
    width: 30%;
    margin: auto;
    
}

.filados .subtitulo h2{
    text-align: center;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #7b29d8;
    text-shadow: 1px 1px 1px #fff;
}

.filados .parrafo{
    width: 60%;
    margin:auto;
}

.filados .parrafo p{
    color:#3d1868;
    text-align: center;
    font-size: 1.4em;
    line-height: 35px;
    text-shadow: 1px 1px 1px #fff;
    font-family: 'Rakkas', cursive;
}

.filados .imagen{
    width: 100%;
}

.filados .imagen img{
    width: 40%;
    height: auto;
    border-radius: 150px;
    box-shadow: 1px 1px 10px 1px #3d1868;
}

.contenedor .piedepagina{
    grid-area: footer;
    text-align: center;
    color: #fff;
} 


/* 
label{
    display: block;
} */
/* 
input{
    display: block;
} */






/* 
.contenedorlogin .zonalogin{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,auto);
    grid-gap: 20px;
    grid-template-areas: "titulo"
                         "seccionprincipal"
                         "piedeseccion";
    background-color: #e3deeb75;
    width: 100%;
    height: auto;
    align-items: center;
    
}

.contenedorlogin .zonalogin .title{
    grid-area: titulo;
}

.contenedorlogin .cuerpo{
    grid-area: seccionprincipal;
}

.contenedorlogin .zonalogin .useradmin{
    grid-area: piedeseccion;
}
 */



